.color-line {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 100;
  border-bottom: 1px solid;
}

.color-circle {
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.color-none {
  background-color: rgba(#d0d0d0, .88);
  border-color: #c0c0c0;
}

.color-active {
  background-color: rgba(#d9534f, .88);
  border-color: #d43f3a;
}

.color-all {
  background-color: rgba(#fff, .88);
  border-color: #eee;
}