*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
}

.bootstrap *,
.bootstrap *:before,
.bootstrap *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.bootstrap {
  min-width: 320px;
  padding-top: 80px;
}

.navbar-default {
  background-color: transparent;
}

span.navbar-brand {
  color: #999999 !important;
  cursor: default;
}

.navbar-nav {
  margin: 0;
}

.navbar-nav > li {
  float: left;
}

.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar > .container .navbar-brand {
  margin-left: -15px;
}

.navbar-nav .dropdown.open {
  background-color: #e7e7e7;
}


.error {
  color: #b94a48;
}

.floor {
  margin-bottom: 20px;
  position: relative;
}

.btn .row {
  text-align: left;
  display: block;
  margin: 0;
  padding: 5px 0;
}

.text-nowrap {
  white-space: nowrap;
}

.text-muted {
  color: inherit;
  opacity: .5;
}