.slide {
  visibility: hidden;
}

body.full .slide.active,
body.list .slide,
body.full .slide {
  visibility: visible;
}

body.full .slide.active {
  margin: 0 !important;
}

body.list > div.progress {
  display: none;
}

.slide p:empty,
body.guest .slide:not(.active) {
  display: none;
}